@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

html {
    box-sizing: border-box;
    outline: 0;
    height: 100vh;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

/* ////////////// SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ////////////// SCROLL BAR */

.main-container {
    display: flex;
    flex-direction: column;
}

.navigation {
    color: #EEEEEE;
    display: inline-flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
}

.logo-text {
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
}

ul {
    display: inline-flex;
}

li {
    list-style: none;
    margin: 10px;
}

li a,
.footer a {
    text-decoration: none;
    color: #EEEEEE;
}

.header-wrapper {
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    color: #EEEEEE;
    align-items: center;
    width: -webkit-fill-available;
}

.top,
.header-wrapper,
.navigation,
.footer {
    background-color: #222831;

}

.top {
    display: flex;
    align-items: center;
}

.top-left {
    width: 50%;
}

.top-right {
    width: 50%;
    display: inline-flex;
    justify-content: center;
}

h1 {
    margin: 0 !important;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 5px;
    text-align: center;
    color: #EEEEEE;
    overflow-wrap: break-word;
    font-size: 50px;
}


.middle {
    margin-top: 30px;
    display: inline-flex;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: center;
}

.middle,
.bottom {
    padding: 0 30px 0 30px;

}


.middle-left {
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}

.middle-left>* {
    margin: 10px;
}

.middle-right {
    width: 50%;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.middle-right ul {
    flex-wrap: wrap;
}

.social-media-links {
    border: solid gainsboro 1px;
    margin: 5px;
    border-radius: 30px;
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.social-media-links>* {
    margin: 10px;
}

ul.social-media-list {
    margin: 10px;

}

ul.social-media-list li a {
    color: black;
}

.bottom>#bio {
    text-align: justify;
    text-justify: inter-word;
}

.bottom>#bio p {
    text-indent: 50px;
}

.contact-details {
    width: -webkit-fill-available;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gainsboro;
    margin: 0 0 10px 0;
}

.contact-details>* {
    margin: 5px;
}

.footer {
    width: -webkit-fill-available;
    align-items: center;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    color: #EEEEEE;
}

.footer>* {
    margin: 5px;
}